body {
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: black;
    color: red;
}

canvas {
    border-radius: 20px;
    margin-top: 9%;
}

img {
    width: 100%;
    height: 100px;
}